* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v18_2 {
  width: 100%;
  height: 1080px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_3 {
  width: 100%;
  height: 100%;
  background: rgba(205,202,240,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_4 {
  width: 100%;
  height: 898px;
  background: rgba(160,155,217,1);
  opacity: 1;
  position: absolute;
  top: 164px;
  left: 23px;
  overflow: hidden;
}
.v18_5 {
  width: 100%;
  height: 138px;
  background: rgba(160,155,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_6 {
  width: 100%;
  height: 845px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 191px;
  left: 67px;
}
.v18_7 {
  width: 311px;
  height: 91px;
  background: url("../images/v18_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 23px;
  overflow: hidden;
}
.v18_11 {
  width: 321px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 643px;
  left: 589px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v18_12 {
  width: 312px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 643px;
  left: 164px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v18_13 {
  width: 304px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 643px;
  left: 1435px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v18_14 {
  width: 272px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 652px;
  left: 1028px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v18_15 {
  width: 340px;
  height: 340px;
  background: url("../images/v18_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 261px;
  left: 994px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v18_16 {
  width: 340px;
  height: 340px;
  background: url("../images/v18_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 261px;
  left: 1414px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v18_17 {
  width: 340px;
  height: 340px;
  background: url("../images/v18_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 261px;
  left: 579px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v18_18 {
  width: 340px;
  height: 340px;
  background: url("../images/v18_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 261px;
  left: 164px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v18_19 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 956px;
  left: 310px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
